<h4 style="text-align: center;">Add New Notebooks</h4>
{{#if error}}
  <h6 class="alert add-alert">{{error}}</h6>
{{/if}}
<form action="/add" method="POST" class="z-depth-4 f_control" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate add" value="{{data.title}}" required />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Notebooks Name"></span>
  </div>
  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      required
      min="1"
      value="{{data.price}}"
      
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>
  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" value="{{data.img}}" required />
    <label for="img">URL Image</label>
    <span class="helper-text" data-error="Enter URL Image"></span>
  </div>
  <div class="input-field">
    <input
      id="descr"
      name="descr"
      type="text"
      required
      class="materialize-textarea validate"
      value="{{data.descr}}"
    ></input>
    <label for="descr">Description</label>
    <span class="helper-text" data-error="Enter Description"></span>
  </div>
  <button class="btn btn-primary">Add Notebooks</button>
</form>